<a href="https://colab.research.google.com/github/Yunkoo-GIT/Programming/blob/main/20210311.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for x in range(5):
  print("환영합니다.")

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [2]:
for name in ["철수","영희","길동","유신"]:
  print("안녕! "+name)

안녕! 철수
안녕! 영희
안녕! 길동
안녕! 유신

In [3]:
for x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
  print(x, end=" ")

0 1 2 3 4 5 6 7 8 9

In [9]:
sum = 0
for x in range(2, 10, 2):
  print(x, end=" ")
  sum = sum + x
  print(sum)
print(sum)

2 2
4 6
6 12
8 20
20

In [15]:
sum = 0

limit = int(input("어디까지 계산할까요 : "))
for i in range(1, limit+1):
  sum += i  # sum = sum + i

print("1부터 ", limit, "까지의 정수의 합 = ", sum)

어디까지 계산할까요 : 12
1부터  12 까지의 정수의 합 =  78

In [22]:
i = 0
while i < 5 :
  print("환영합니다.")
  i += 1
print("반복이 종료되었습니다.")

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.
반복이 종료되었습니다.

In [24]:
i = 0
while i < 10 :
  print(i, end=" ")
  i += 1
print("\n종료:", i)

0 1 2 3 4 5 6 7 8 9
종료: 10

In [27]:
i = 1
sum = 0

while i<= 10 :
  print(i, end=" : ")
  sum += i
  print(sum)
  i += 1
print("합계 = ", sum)

1 : 1
2 : 3
3 : 6
4 : 10
5 : 15
6 : 21
7 : 28
8 : 36
9 : 45
10 : 55
합계 =  55

In [31]:
i = 1
factorial = 1

while (i <= 10):
  factorial = factorial * i
  i += 1
print("10!은 %d입니다" %factorial)

10!은 3628800입니다

In [32]:
i = 1
while i <= 9:
  print("3*%d=%d" %(i, 3*i))
  i += 1

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [33]:
sum = 0
number = 1

while number <= 100:
  if number % 3 == 0:
    sum = sum + number
  number = number + 1
print("1부터 100사이의 모든 3의 배수의 합은 %d입니다." %sum)

1부터 100사이의 모든 3의 배수의 합은 1683입니다.

In [34]:
def get_sum(start, end):
  sum = 0
  for i in range(start, end+1):
    sum += i
  return sum

In [35]:
value = get_sum(1, 10)
print(value)

55

In [36]:
value = get_sum(21, 50)
print(value)

1065

In [44]:
def FtoC(temp_f):
  temp_c = (5.0 * (temp_f - 32.0)) / 9.0
  return temp_c

temp_f = float(input("화씨온도를 입력하시오 : "))

print(FtoC(temp_f))

화씨온도를 입력하시오 : 212
100.0