<a href="https://colab.research.google.com/github/Yunkoo-GIT/Programming/blob/main/20210318.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
scores = []
for i in range(10):
  scores.append(int(input("성적을 입력하시오 : ")))
print(scores)

성적을 입력하시오 : 50
성적을 입력하시오 : 80
성적을 입력하시오 : 90
성적을 입력하시오 : 33
성적을 입력하시오 : 54
성적을 입력하시오 : 98
성적을 입력하시오 : 67
성적을 입력하시오 : 87
성적을 입력하시오 : 99
성적을 입력하시오 : 45
[50, 80, 90, 33, 54, 98, 67, 87, 99, 45]

In [2]:
list2 = list("Hello")
print(list2)

['H', 'e', 'l', 'l', 'o']

In [6]:
STUDENTS = 5

scores = []
scoreSum = 0

for i in range(STUDENTS):
  value = int(input("성적을 입력하시오 : "))
  scores.append(value)
  scoreSum += value
  # print(scores)
  # print(scoreSum)

scoreAvg = scoreSum / len(scores)

highScoreStudents = 0
for i in range(len(scores)):
  if scores[i] >= 80:
    highScoreStudents += 1

print("성적 평균은 ", scoreAvg, "입니다.")
print("80점 이상 성적을 받은 학생은 ", highScoreStudents, "명 입니다.")

성적을 입력하시오 : 88
성적을 입력하시오 : 90
성적을 입력하시오 : 70
성적을 입력하시오 : 50
성적을 입력하시오 : 87
성적 평균은  77.0 입니다.
80점 이상 성적을 받은 학생은  3 명 입니다.

In [9]:
text = "Will is power."
print(text[0], text[3], text[-1])

flist = ["apple", "banana", "tomato", "peach", "pear"]
print(flist[0], flist[3], flist[-1])

W l .
apple peach pear

In [10]:
flist

['apple', 'banana', 'tomato', 'peach', 'pear']

In [11]:
def callByValue(x):
  print("x = ", x)
  x = 50
  print("x = ", x)

y = 30
print("y = ", y)
callByValue(y)
print("y = ", y)

y =  30
x =  30
x =  50
y =  30

In [13]:
def callByReference(list):
  list[0] = 100

values = [0, 1, 2, 3, 4, 5]
print(values)
callByReference(values)
print(values)

[0, 1, 2, 3, 4, 5]
[100, 1, 2, 3, 4, 5]

In [14]:
list1 = [3, 4, 5]
list2 = [x*2 for x in list1]
print(list2)

[6, 8, 10]

In [17]:
list = ["All", "good", "things", "must", "come", "to", "an", "end"]
items = [word[0] for word in list]
print(items)

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [18]:
colors = ["white", "silver", "black"]
cars = ["BMW5", "Sonata"]
colored_cars = [(x,y) for x in colors for y in cars]
print(colored_cars)

[('white', 'BMW5'), ('white', 'Sonata'), ('silver', 'BMW5'), ('silver', 'Sonata'), ('black', 'BMW5'), ('black', 'Sonata')]